.terraform
terraform.tfstate
terraform.tfstate.backup
vpc-terraform/terraform.tfstate.backup
vpc-terraform/terraform.tfstate
vpc-terraform/.terraform
vpc-terraform/.terraform.lock.hcl
.terraform.lock.hcl
